@import '~antd/dist/antd.css';

@font-face {
    font-family: "NanumPenScript-Regular";
    font-weight: 50;
    src: url("./NanumPenScript-Regular.ttf") format("truetype");
}

#header{
    font-family: "NanumPenScript-Regular";
}

#root {
    background-image: url("https://cdn.imweb.me/upload/S20201222b35783f9ccf11/56159c40b21c8.jpg");
    background-size: cover;
}
